//color scheme

//Primer color scheme
$White: #FFF;
$Platinum: #E8E8E8;
$Gray: #BABABA;

//segundo color scheme
$DarkSalmon: #EE9480;
$Melon: #F4BAAE;
$Palepink: #FADFDA;

//tercer color scheme
$BallBlue: #2AB7CA;
$MiddleBlue: #77D1DD;
$BlueLagoon: #B1E4EB;

//cuarto color scheme
$Onyx: #333745;
$SpanishGray: #8F9199;
$LavenderGray: #C7C8CC;

//quinto color scheme
$RaisingBlack: #221D23;
$Nickel: #726F73;
$SilverChalice: #AEACAF;

//Tipografia Raleway
$font-family: 'Raleway', sans-serif;
$font-family: 'Open Sans', sans-serif;

//Peso Tipografia
//font weight
$regular: 400;
$bold: 700;

//Font sizes
$xxxxx-large:50px;
$xxxx-large:45px;
$xxx-large:40px;
$xx-large:35px;
$x-large:30px;
$large:20px;
$medium:16px;
$small:14px;
$x-small:12px;
$small: 3px;
